
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.capacontenido{
    width: 70%;
    height: 2850px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: solid black 1px;
    margin-left: 15%;
}
.capacontenidoz{
    width: 70%;
    height: 1800px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: solid black 1px;
    margin-left: 15%;
}
.capatitulo{
    width: 100%;
    height: 140px;
    background-color: black;
    position: absolute;
}
.capalogo{
    width: 20%;
    height: 70%;
    background-color: black;
    position: absolute;
}
.capamenu{
   
    width: 80%;
    height: 29%;
    margin-left: 15%;
    margin-top: 3%;
    position: absolute;
}
.mzapatillas{
   
    width: 15%;
    height:100% ;
    text-align: center;
    position: absolute;
}
.msudaderas{
    
    width: 15%;
    height:100% ;
    text-align: center;
    margin-left: 18%;
    position: absolute;
}
.mconjuntos{
    
    width: 15%;
    height:100% ;
    text-align: center;
    margin-left: 36%;
    position: absolute;
}
.mrebajas{
    
    width: 15%;
    height:100% ;
    text-align: center;
    margin-left: 52%;
    position: absolute;
    color: rgb(16, 117, 117);
}
.mcontacto{
   
    width: 15%;
    height:100% ;
    text-align: center;
    margin-left: 68%;
    position: absolute;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a:hover{
    font-size:23px ;
    text-decoration: underline;
    transition: 0.4s;
    color: gold;
}
.gif{
   
    width: 14%;
    height: 20%;
    margin-left: 83%;
    position: absolute;
    text-align: center;
    margin-top: 0%;
}
.capavideo{
   
    width: 100%;
    height: 569px;
    position: absolute;
    margin-top: 145px;
}   
video{
    position: absolute;
    width: 1060px;
    height: 599px;
    margin-top: 0px;
    margin-left: 5px;
}
.pie{
    background-color:rgb(37, 37, 37);
    width: 100%;
    height: 209px;
    position: absolute;
    margin-top: 2682px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(220, 218, 218);
}
.piez{
    background-color:rgb(37, 37, 37);
    width: 100%;
    height: 209px;
    position: absolute;
    margin-top: 1782px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(220, 218, 218);
}
.redessociales{
    width: 80px;
    height: 160px;
    margin-left: 90px;
}
.ljordan{
    width: 50px;
    height: 50px;
    top: 30px;
    position: absolute;
    margin-left: 100px;
}
.lnike{
    
    width: 50px;
    height: 50px;
    top: 20px;
    position: absolute;
    margin-left: 250px;
}
.ladidas{
    width: 50px;
    height: 50px;
    top: 30px;
    position: absolute;
    margin-left: 400px;
    
}
.metodospago{
    border:solid black 1px;
    width: 10px;
    height: 10px;
    margin-left: 500px;
    margin-top: 0px;
}
.anunciando{
    width: 1063px;
    height: 200px;
    margin-top: 750px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-style: unset;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(66, 8, 136);
}
.anuncioropa{
    width: 320px;
    height: 420px;
    margin-top: 970px;
    position: absolute;
}
.adidasjovenanuncio{
    width: 320px;
    height: 420px;
    margin-top: 970px;
    margin-left: 350px;
    position: absolute;
}
.nikejovenanuncio{
    width: 320px;
    height: 420px;
    margin-top: 970px;
    margin-left: 720px;
    position: absolute;
}
.anunciandodos{
    border: solid black 1px;
    width: 1062px;
    height: 120px;
    margin-top: 1470px;
    position: absolute;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 242, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagenretro{
    width: 40px;
    height: 10px;
    margin-left: 485px;
    margin-top: 0px;
    position: absolute;
}
.textojj{
    width: 1062px;
    height: 100px;
    margin-top: 1610px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(40, 8, 108);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.zuno{
    width: 399px;
    height: 380px;
    margin-top: 1710px;
    margin-left: 30px;
    position: absolute;
}
.marquitas{
    width: 129px;
    height: 80px;
    margin-top: 1710px;
    margin-left: 449px;
    position: absolute;
}
.marquitasuno{
    width: 129px;
    height: 80px;
    margin-top: 1810px;
    margin-left: 440px;
    position: absolute;
}
.marquitasdos{
    width: 129px;
    height: 80px;
    margin-top: 1910px;
    margin-left: 440px;
    position: absolute;
}
.zdos{
    width: 399px;
    height: 380px;
    margin-top: 1710px;
    margin-left: 560px;
    position: absolute;
}
.tresadidas{
    width: 899px;
    height: 300px;
    margin-top: 2110px;
    margin-left: 60px;
    position: absolute;
}
.capatitulojordan{
    width: 350px;
    height: 90px;
    margin-top: 150px;
    margin-left: 350px;
    position:absolute;
}
.juno{
    width: 330px;
    height: 230px;
    margin-top: 299px;
    margin-left: 30px;
    position:absolute;
}
.preciojuno{
    width: 300px;
    height: 30px;
    margin-top: 545px;
    margin-left: 30px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
.jdos{
    width: 330px;
    height: 230px;
    margin-top: 320px;
    margin-left: 380px;
    position:absolute;
}
.preciodos{
    width: 300px;
    height: 30px;
    margin-top: 545px;
    margin-left: 410px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(236, 9, 9);
}
.jtres{
    width: 310px;
    height: 230px;
    margin-top: 290px;
    margin-left: 750px;
    position:absolute;
}
.preciotres{
    width: 300px;
    height: 30px;
    margin-top: 545px;
    margin-left: 750px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.capatituloadidas{
    width: 350px;
    height: 90px;
    margin-top: 620px;
    margin-left: 350px;
    position:absolute;
}
.adidasuno{
    width: 250px;
    height: 190px;
    margin-top: 820px;
    margin-left: 15px;
    position:absolute;
}
.pauno{
    width: 300px;
    height: 30px;
    margin-top: 1010px;
    margin-left: 30px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:  rgb(236, 9, 9);
}
.adidasdos{
    width: 250px;
    height: 190px;
    margin-top: 805px;
    margin-left: 390px;
    position:absolute;
}
.pados{
    width: 300px;
    height: 30px;
    margin-top: 1010px;
    margin-left: 420px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.adidastres{
    width: 250px;
    height: 190px;
    margin-top: 850px;
    margin-left: 760px;
    position:absolute;
}
.patres{
    width: 300px;
    height: 30px;
    margin-top: 1010px;
    margin-left: 780px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.capatitulonike{
    width: 350px;
    height: 90px;
    margin-top: 1180px;
    margin-left: 340px;
    position:absolute;
}
.nikeuno{
    width: 250px;
    height: 190px;
    margin-top: 1420px;
    margin-left: 5px;
    position:absolute;
}
.nikedos{
    width: 250px;
    height: 190px;
    margin-top: 1410px;
    margin-left: 405px;
    position:absolute;
}
.niketres{
    
    width: 250px;
    height: 190px;
    margin-top: 1430px;
    margin-left: 755px;
    position:absolute;
}
.pnuno{
    width: 300px;
    height: 30px;
    margin-top: 1590px;
    margin-left: 30px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
   
}
.pndos{
    width: 300px;
    height: 30px;
    margin-top: 1590px;
    margin-left: 400px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.pntres{
    width: 300px;
    height: 30px;
    margin-top: 1590px;
    margin-left: 755px;
    position:absolute;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.sudaderauno{
    width: 120px;
    height: 20px;
    position: absolute;
    margin-top: 220px;
    margin-left: 20px;
}
.preciouno{
    
    width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 610px;
    margin-left: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.sudaderados{
    width: 120px;
    height: 220px;
    position: absolute;
    margin-top: 200px;
    margin-left: 350px;
}
.preciodos{
   
    width: 340px;
    height: 40px;
    position: absolute;
    margin-top: 545px;
    margin-left: 400px;
    color: rgb(0, 0, 0);
}
.sudaderatres{
    width: 120px;
    height: 220px;
    position: absolute;
    margin-top: 200px;
    margin-left: 730px;
}
.preciotres{
    width: 290px;
    height: 40px;
    position: absolute;
    margin-top: 546px;
    margin-left: 780px;
}
.gifnike{
    width: 100px;
    height: 220px;
    position: absolute;
    margin-top: 700px;
    margin-left: 300px;
}
.chiconike{
    width: 100px;
    height: 220px;
    position: absolute;
    margin-top: 700px;
    margin-left: 20px;
}
.chiconikedos{
    width: 100px;
    height: 220px;
    position: absolute;
    margin-top: 700px;
    margin-left: 820px;
}
.future{
    width: 190px;
    height: 120px;
    position: absolute;
    margin-top: 990px;
    margin-left: 420px;
}
.sudaderapreciouno{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 620px;
    margin-left: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.sudaderapreciodosdos{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 620px;
    margin-left: 490px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.sudaderapreciotres{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 620px;
    margin-left: 860px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.cartelsudaderas{
    border: solid black 1px;
    width: 100%;
    height: 120px;
    position: absolute;
    margin-top: 1170px;
    background-color: rgb(41, 20, 69);
    text-align: center;
    color: rgb(99, 231, 254);
    font-size: 45px;
}
.logotrapstar{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 450px;
}
.sudaderatrapstar{
    width: 174px;
    height: 120px;
    position: absolute;
    margin-top: 1370px;
    margin-left: 20px;
}
.sudaderahoodrich{
    width: 174px;
    height: 120px;
    position: absolute;
    margin-top: 1340px;
    margin-left: 368px;
}
.sudaderachampion{
    width: 174px;
    height: 120px;
    position: absolute;
    margin-top: 1370px;
    margin-left: 720px;
}
.sudtrapstarprecio{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 1790px;
    margin-left: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.preciosudaderahoodrich{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 1790px;
    margin-left: 510px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.sudaderachampionprecio{
    width: 50px;
    height: 20px;
    position: absolute;
    margin-top: 1790px;
    margin-left: 870px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.cartelusa{
    border: solid black 1px;
    width: 100%;
    height: 90px;
    margin-top: 140px;
    position: absolute;
    background-color:rgb(17, 76, 91);
    color: rgb(255, 28, 28);
    font-size: 80px;
    text-align: center;
}
.carteldosdebajosudaderas{
    border: solid black 1px;
    width: 100%;
    height: 99px;
    position: absolute;
    margin-top: 1840px;
    background-color: rgb(41, 20, 69);
    text-align: center;
    color: rgb(99, 231, 254);
    font-size: 65px;
}
.conjuntotrapstar{
    width: 50px;
    height: 99px;
    position: absolute;
    margin-top: 1942px;
}
.pantalontrap{
    width: 50px;
    height: 99px;
    position: absolute;
    margin-top: 1942px;
    margin-left: 320px;
}
.conjunto2{
    width: 50px;
    height: 99px;
    position: absolute;
    margin-top: 1942px;
    margin-left: 620px;
}
.zapatillasconjubtouno{
    width: 50px;
    height: 99px;
    position: absolute;
    margin-top: 2342px;
}
.zapatillasconjuntodos{
    width: 50px;
    height: 99px;
    position: absolute;
    margin-top: 2342px;
    margin-left: 570px;
}
.gorrauno{
    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 280px;
}
.gorrados{
    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 280px;
    margin-left: 350px;
}
.gorratres{
    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 300px;
    margin-left: 709px;
}
.carteloferta{
   
    width: 100%;
    height: 90px;
    margin-top: 630px;
    position: absolute;
    background-color: rgb(13, 59, 71);
    color: rgb(255, 19, 19);
    font-size: 80px;
    text-align: center;
}
.rinionerauno{

    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 780px;
}
.ri単otres{

    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 780px;
    margin-left: 650px;
}
.ri単ocuatro{
    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 1080px;
    margin-left: 30px;
}
.ri単ocinco{
    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 1150px;
    margin-left: 650px;
}
.ri単oneraadidas{
    width: 80px;
    height: 50px;
    position: absolute;
    margin-top: 1280px;
    margin-left: 90px;
}
.area{
    color: black;
}
.casita{
    
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: 2610px;
    margin-left: 1000px;
}

